<div id="container">   
    <header>
        <a routerLink="/">
            <img src="/assets/img/logo/unip-resort-logo.png" width="200" height="100" alt="logo unip resort" draggable="false">
        </a>
    </header>
    
    <div id="form-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form_standard">
    
            <h2>Faça o login para acessar a área de cliente</h2>
    

            <div class="fullbox">
                <label for="email">Email</label>
                <input type="email" formControlName="email" name="email" id="email" placeholder="Digite seu email">    
            </div>

            <div class="fullbox">
                <label for="senha">Senha</label>
                <input type="password" formControlName="senha" name="senha" id="password" placeholder="Digite sua senha">    
            </div>
    
            <button>Entrar</button>
    
            <p>Ainda não tem uma conta? <a routerLink="/cadastrar">Cadastre-se agora!</a></p>
    
        </form>
    </div>
</div>