*::selection {
  background-color: var(--golden);
}

/* body, header, nav */
body {
  background-color: var(--black);
}

/* display flex */
header,
.header-buttons,
.content,
.content-block,
.buttons,
nav,
.last-block,
.list,
.row,
footer,
.footer-content {
  display: flex;
}


header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--black);
}

header img {
  margin: 0
}

header p {
  color: var(--white);
}

.header-buttons {
  padding: 10px;
  flex-direction: column;
  width: 300px;
}

.buttons {
  justify-content: space-between;
}

.header-buttons a {
  width: 48%;
  padding: 10px 15px;
  background-color: var(--golden);
  border-radius: 5px;
  text-align: center;
  color: var(--black);
  font-weight: var(--light-text-weight);
  transition: 0.10s;
}

.header-buttons a:hover {
  background-color: var(--golden-light);
}

nav a {
  width: 25%;
  font-weight: var(--light-text-weight);
  padding: 10px;
  text-align: center;
  background-color: var(--blue);
  color: var(--black);
  transition: 0.15s;
}

nav a:hover {
  background-color: var(--blue-light);
  color: var(--black);
}

h2 {
  text-align: center;
  background-color: var(--golden);
  padding: 10px;
  font-weight: 500;
}

p {
  padding: 10px 0px;
  font-weight: var(--light-text-weight);
  color: var(--black);
  text-align: justify;
}

.content,
.last-block {
  margin-top: 20px;
}

.content-block {
  justify-content: center;
  width: 50%;
  padding: 20px;
  flex-direction: column;
}

/* bloco de "Nossos Serviços" */

.last-block {
  flex-direction: column;
  padding: 20px;
}

.list {
  margin: 30px 0px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--light-text-weight);


  margin: 10px;
  padding: 10px;

  width: 130px;
  height: 120px;
  text-align: center;
  transition: 0.15s;
}

.row fa-icon {
  color: var(--black);
  font-size: 1.6rem;
}

.row:hover {
  transform: scale(1.5, 1.5);
  cursor: default;
}

.last-block a {
  border-radius: 50px;
  padding: 20px;

  font-weight: bold;
  text-align: center;

  background: linear-gradient(to left, var(--blue) 50%, var(--blue-dark) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  color: var(--black);
}

.last-block a:hover {
  background-position: left;
}

/* rodapé */

footer {
  flex-direction: column;
  padding: 20px;
}

.footer-content {
  padding: 20px 0px;
  justify-content: center;
}

.footer-content div {
  margin: 5px;
  width: 50%;
}

/* cor dos ícones do footer */
.green {
  color: green;
}

.red {
  color: rgb(255, 32, 32);
}

.blue {
  color: rgb(21, 122, 255);
}

.yellow {
  color: #c28e00;
}

/* rodapé de copyright */

small {
  text-align: center;
  font-weight: var(--light-text-weight);
  color: white;
  padding: 10px;
  background-color: var(--black);
  margin: 10px -20px -20px;
}


#help {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  height: 60px;
  width: 60px;
  background-color: #e01a4f;
  transition: 0.30s;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.623);
}

#help:hover {
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 320px;
  cursor: pointer;
}

#help p {
  display:none;
  color: transparent;
  font-weight: var(--light-text-weight);
  text-align: center;
}

#help:hover p {
  display: flex;
  color: var(--white);
  transition: 1.5s;
}

#help fa-icon {
  font-size: 1.5rem;
  color: var(--white);
}

/* ajustes para responsividade */
@media screen and (min-width: 1280px) {
  .content-block img {
    margin: auto;
    width: 70%;
  }
}

@media screen and (max-width: 700px) {

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content-block {
    width: 100%;
  }

  .last {
    order: 4;
  }

}

@media screen and (max-width: 600px) {

  nav {
    flex-direction: column;
  }

  nav a {
    width: 100%;
    margin-bottom: 5px;
  }

}

@media screen and (max-width: 600px) {

  nav {
    flex-direction: column;
  }

  nav a {
    width: 100%;
    margin-bottom: 5px;
  }

}

@media screen and (max-width: 490px) {
  header {
    flex-direction: column;
  }

  header img {
    margin-bottom: -25px;
  }

  header p {
    display: none;
  }

  .header-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-content div {
    width: 100%;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}