<div id="table-container">
  <table>
    <thead>
      <th>#</th>
      <th>Data de CheckIN</th>
      <th>Data de CheckOut</th>
      <th>Valor</th>
      <th>Cliente</th>
      <th>CPF</th>
      <th>Status</th>
      <th>Ações</th>
    </thead>

    <tbody *ngIf="reservas">
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.id }}</td>
        <td>{{ reserva.dataReserva.split(" ")[0] }}</td>
        <td>{{ reserva.dataSaida.split(" ")[0] }}</td>
        <td>{{ reserva.valor | currency: "BRL" }}</td>
        <td>{{ reserva.cliente.nome.split(" ")[0] }}</td>
        <td>{{ reserva.cliente.cpf | cpf }}</td>
        <td>{{ reserva.status ? "CheckIn Realizado" : "Pendente" }}</td>
        <td>
          <fa-icon [icon]="faEdit" class="fa fa-edit"></fa-icon>
          <fa-icon [icon]="faTrash" class="fa fa-trash"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="reservas.length == 0">Você não possui nenhuma reserva.</p>

  <div class="modal-container">
    <div class="modal-body">
      <span (click)="hideModal()" class="modal-close-button">&times;</span>
      <div id="form-container">
        <h2>Detalhes da reserva</h2>

        <div [formGroup]="form" class="hospede-container">
          <div class="pesquisar">
            <label for="">CPF</label>
            <input type="text" placeholder="Ex.: XXX.XXX.XXX-XX" />
            <button>Pesquisar</button>
          </div>
          <!--  -->
          <div class="hospede-data">
            <h3>Dados cliente</h3>

            <h4>Nome:</h4>
            <p>Maurício Alabama</p>

            <h4>CPF:</h4>
            <p>421.412.421-44</p>

            <h4>Email</h4>
            <p>mariucio@email.com</p>
          </div>
        </div>

        <hr />

        <div class="content">
          <div class="img">
            <img
              src="{{ categoria.imageUrl || 'assets/img-empty.png' }}"
              alt="Quarto do hotel"
            />
          </div>

          <div class="contentbox">
            <h3>{{ categoria.nome }}</h3>

            <p>
              {{ categoria.descricao }}
            </p>
          </div>
        </div>

        <form [formGroup]="form">
          <label for="apartamento">Selecione a categoria do quarto </label>
          <select
            formControlName="categoria"
            name="apartamento"
            id="apartamento-selectbox"
          >
            <option
              *ngFor="let categoria of categorias"
              (click)="changeCategoria(categoria.id)"
              value="{{ categoria.nome }}"
            >
              {{ categoria.nome }} - Preço Diária
              {{ categoria.precoDiaria | currency: "BRL" }}
            </option>
          </select>

          <label for="numeroHospedes">Quantidade de hóspedes: </label>
          <input
            (change)="changeCategoria()"
            (change)="calcularValorDiaria()"
            formControlName="qtdHospedes"
            type="number"
            name="numeroHospedes"
            id="numeroHospedes"
            min="1"
            max="6"
          />

          <label for="checkIn">Data de check-in</label>
          <input
            formControlName="dataCheckIn"
            type="date"
            name="checkIn"
            id="checkIn"
          />

          <label for="checkOut">Data de check-out</label>
          <input
            (change)="calcularValorDiaria()"
            formControlName="dataCheckOut"
            type="date"
            name="checkOut"
            id="checkOut"
          />

          <!-- <label for="cupom">Cupom de desconto</label>
    <input (change)="calcularValorDiaria()" formControlName="cupom" type="text" name="cupom" id="cupom" placeholder="Digite o código do seu cupom"> -->

          <div class="total">
            <h4>Valor Total:</h4>
            <p>
              {{ valorTotalDescricao }} {{ valorTotal }}
              {{
                valorTaxa > 0
                  ? "+ R$ " +
                    valorTaxa +
                    " taxa de serviço (10% do preço da diária por hóspede.)"
                  : ""
              }}
            </p>
          </div>

          <button (click)="revealModal()">Pagamento</button>
        </form>
      </div>
    </div>
  </div>
</div>
