<div id="table-container">
    <table>
      <thead>
        <th>#</th>
        <th>Data de CheckIN</th>
        <th>Data de CheckOut</th>
        <th>Valor</th>
        <th>Cliente</th>
        <th>CPF</th>
        <th>Status</th>
        <th>Ações</th>
      </thead>
  
      <tbody *ngIf="reservas">
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.id }}</td>
          <td>{{ reserva.dataReserva.split(' ')[0] }}</td>
          <td>{{ reserva.dataSaida.split(' ')[0] }}</td>
          <td>{{ reserva.valor | currency:'BRL'}}</td>
          <td>{{ reserva.cliente.nome.split(' ')[0] }}</td>
          <td>{{ reserva.cliente.cpf | cpf }}</td>
          <td>{{ reserva.status ? 'CheckIn Realizado' : 'Pendente' }}</td>
          <td>
            <fa-icon [icon]="faEdit" class="fa fa-edit"></fa-icon>
            <fa-icon [icon]="faTrash" class="fa fa-trash"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="reservas.length == 0">Você não possui nenhuma reserva.</p>
  </div>