<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styleClientePage.css">
    <link rel="stylesheet" href="../public/fontawesome-free-5.15.3-web/css/all.css">
    <title>UNIP Resort - Área do Cliente</title>
</head>

<body>

    <header>

        <img src="../public/img/UNIP_LOGO_PNG.png" alt="Logo" width="200" height="100">

        <div id="menu">
            <a href="minhasRerservas.html"><i class="fa fa-table"></i> Reservas</a>
            <a href="editarCadastro.html"><i class="fa fa-user"></i> Meu perfil</a>
            <a href="index.html"><i class="fas fa-door-open"></i> Sair</a>
        </div>

    </header>

    <h2>Olá João. Seja bem-vindo novamente!</h2>

    <div id="container">

        <div class="contentbox">

            <div class="img">
                <img src="../public/img/quartohotel.jpg" alt="Imagem do quarto do hotel">
            </div>

            <div class="descricao">

                <h3>Suíte master</h3>

                <p> Cama de casal, Smart Tv 44", acesso liberado à internet, áreas de lazer e banheiras
                    climatizadas.
                </p>

            </div>

            <div class="valor">
                <h3>Oferta</h3>
                <p>R$280,00</p>
                <button type="menu" onclick="window.open('reservas.html')">Reservar</button>
            </div>


        </div>
        
        <div class="contentbox">

            <div class="img">

                <img src="../public/img/lazerhotel.jpg" alt="">

            </div>


            <div class="descricao">

                <h3>Suíte de temporada</h3>

                <p> Cama de casal, Smart Tv 44", acesso liberado à internet, áreas de lazer e banheiras
                    climatizadas.
                </p>

            </div>

            <div class="valor">

                <h3>Oferta</h3>

                <p><strong>R$</strong>180,00</p>

                <button type="menu">Reservar</button>

            </div>


        </div>

        <div class="contentbox">

            <div class="img">

                <img src="../public/img/quartohotel2.jpg" alt="">

            </div>


            <div class="descricao">

                <h3>Suíte VIP</h3>

                <p> Cama de casal, Smart Tv 44", acesso liberado à internet, áreas de lazer e banheiras
                    climatizadas.
                </p>

            </div>

            <div class="valor">

                <h3>Oferta</h3>

                <p><strong>R$</strong>240,00</p>
                <button type="menu">Reservar</button>

            </div>


        </div>

        <div class="contentbox">

            <div class="img">

                <img src="../public/img/quartohotel.jpg" alt="">

            </div>


            <div class="descricao">

                <h3>Suíte Quartinho do Mateus</h3>

                <p> Cama de casal, Smart Tv 44", acesso liberado à internet, áreas de lazer e banheiras
                    climatizadas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, laboriosam amet quos
                    pariatur distinctio, inventore doloribus atque ipsa quo aspernatur consectetur! Facere, sunt
                    voluptate aliquam quasi facilis laboriosam nobis aspernatur?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non neque dolorem expedita temporibus
                    facilis et, ipsum debitis ab fugiat! Facilis officia excepturi maxime ipsa consequuntur laborum
                    inventore cupiditate animi repellat?
                </p>

            </div>

            <div class="valor">

                <h3>Oferta</h3>

                <p><strong>R$</strong>00,00</p>

                <button type="menu">Reservar</button>

            </div>
        </div>
    </div>

    <!-- chatbox -->
    <div id="chatbox">
        <i class="fas fa-question"></i>
        <p>Para acessar a central de ajuda, clique aqui!</p>
    </div>

</body>

</html>