<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/styleRegisterPage.css">
    <title>Unip Resort - Cadastrar-se</title>

</head>

<body>

    <header>

        <div id="img-container">
            <a href="index.html">
                <img src="../public/img/UNIP_LOGO_PNG.png" width="200px" height="100">
            </a>
        </div>

    </header>

    <div id="form-container">

        <form action="" method="POST">

            <h2>Preencha os campos abaixo para realizar o seu cadastro.</h2>

            <div class="fullbox">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Digite o seu nome completo">
            </div>

            <div class="double-box">

                <div class="halfbox">
                    <label for="cpf">CPF/CNPJ</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF ou CNPJ">
                </div>

                <div class="halfbox">
                    <label for="rg">RG</label>
                    <input type="text" name="rg" id="rg" placeholder="Digite seu RG">
                </div>

            </div>

            <div class="double-box">

                <div class="halfbox">

                    <label for="sexo">Sexo</label>
                    <select name="sexo" id="sexo">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>

                </div>

                <div class="halfbox">

                    <label for="nascimento">Data de nascimento</label>
                    <input type="date" name="nascimento" id="nascimento">

                </div>

            </div>

            <!-- Fim da div MIDDLE -->

            <div class="fullbox">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite o seu email">
            </div>

            <div class="fullbox">
                <label for="emailConfirm">Confirme seu email</label>
                <input type="email" name="email" id="emailConfirm" placeholder="Digite novamente o seu email">
            </div>

            <div class="double-box">

                <div class="halfbox">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha">
                </div>

                <div class="halfbox">
                    <label for="passwordConfirm">Confirme sua senha</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm"
                        placeholder="Digite novamente a sua senha">
                </div>
            </div>

            <label for="agreement" id="agreement">

                <input type="checkbox" name="agreement" id="checkbox">
                Eu li e concordo com os <a href="">Termos de uso.</a></label>

            <input type="button" value="Registrar-se" id="btn-registrar">

        </form>

    </div>

    <script>

    </script>

</body>

</html>