<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/styleHomePage.css">
    <link href="../public/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <title>UNIP Resort - Orgulho e tradição</title>
</head>

<body>

    <header>

        <a href="#">
            <img src="../public/img/UNIP_LOGO_PNG.png" width="200" height="100">
        </a>

        <div class="header-buttons">

            <p>Entrar como:</p>

            <div class="buttons">
                <a href="login.html"> Cliente </a>
    
                <a href="loginFunc.html">
                    <div class="link"> Funcionário</div>
                </a>
            </div>
        </div>

    </header>

    <nav>
        <a href="login.html">Reservas</a>        
        <a href="#services">Nossos Serviços</a>
        <a href="#faleConosco">Fale Conosco</a>
        <a href="cadastro.html">Cadastrar-se</a>
    </nav>

    
    <!-- first-content -->
    <div class="content">

        <div class="content-block">
            <h2>Quem somos nós?</h2>
            <p>Nós da UNIP Resort temos orgulho de representar, há mais de 90 anos, tradição e destaque na baixada santista.
                Tendo sido desde sempre um referencial de hospitalidade e cordialidade para todos!
            </p>
        </div>

        <div class="content-block">
            <img src="../public/img/slider/slide1.jpg" alt="" id="slider">
        </div>

    </div>

    <!-- second-content -->
    <div class="content">

        <div class="content-block last">
            <img src="../public/img/vaultboyUR.png" alt="Imagem contendo 'mascote' do hotel.">
        </div>

        <div class="content-block">
            <h2>O que fazemos?</h2>
            <p> Oferecemos a melhor hospedagem de toda a baixada santista!</p>
        </div>

    </div>

    <div class="last-block">

        <h2 id="services">Nossos Serviços</h2>

        <div class="list">
                
            <div class="row"><i class="fas fa-bed"></i>Quartos arejados e aconchegantes.</div>
            <div class="row"><i class="fas fa-swimming-pool"></i>Áreas de lazer espaçosas.</div>
            <div class="row"><i class="fas fa-wifi"></i>Acesso livre e gratuito à internet.</div>
            <div class="row"><i class="fas fa-gamepad"></i>Opções variadas de diversão.</div>
            <div class="row"><i class="fas fa-clock"></i>Serviço de quarto 24 horas.</div>
            <div class="row"><i class="fas fa-plus"></i>E muito mais!</div>
                
        </div>

        <a href="">Clique aqui e faça sua reserva agora!</a>

    </div>

    <footer>

        <h2>Fale Conosco</h2>

        <div class="footer-content">
            <div>
                <p> <i class="fa fa-phone"></i> (13) 3488-5565</p>
                <p> <i class="fa fa-map-marker-alt red"></i> Rua Francisco de Assis 14094, Vila Antártica, Santos, SP</p>
                <p> <i class="fa fa-envelope yellow"></i> unipresort@gmail.com</p>
            </div>
    
            <div>
                <p> <i class="fab fa-whatsapp green"></i> (13) 99184-5535</p>
                <p> <i class="fab fa-instagram pink"></i> @unipresort</p>
                <p> <i class="fab fa-facebook blue"></i>  @unipresortoficial</p>
            </div>
        </div>

        <small>UNIP Resort 2021 © Todos os direitos reservados.</small>
    </footer>

</body>

</html>