<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <title>Unip Resort - Login</title>
</head>

<body>

    <header>
        <a href="index.html">
            <img src="../public/img/UNIP_LOGO_PNG.png" width="200px" height="100" draggable="false">
        </a>
    </header>


    <div id="form-container">

        <form>

            <h2>Faça o login para acessar a área de cliente</h2>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email">

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="password" placeholder="Digite sua senha">


            <button type="submit" id="btn-entrar" onclick="window.open('areaCliente.html')">Entrar</button>

            <p>Ainda não tem uma conta? <a href="cadastro.html">Cadastre-se agora!</a></p>

        </form>

    </div>

</body>
</html>