<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../public/css/styleLoginPage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIP Resort - Login funcionário</title>
</head>

<body>

    <header>
        <a href="index.html">
            <img src="../public/img/UNIP_LOGO_PNG.png" alt="logo unip resort" width="200" height="100">
        </a>
    </header>

    <div id="form-container">

        <form>

            <h2>Faça o login para acessar a área de funcionário </h2>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email">

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="password" placeholder="Digite sua senha">


            <button type="submit" id="btn-entrar">Entrar</button>

            <br>

            <p>Em caso de erros, ou problemas, contate o administrador do sistema.</p>

        </form>
    </div>

</body>

</html>
