* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

:root {
    --back-color: white;
    --standard: #0c090D;
    --secondary: #F9C22E;
    --secondary-light: #f5d06c;
    --terciary: #53B3CB;
    --terciary-light:#7fcde0;
    --quartenary: #e01a4f;
    --font-color: black;

    /* fonts */
    --light-text-font: "gotham";
    --light-text-weight: 300;
}

/*display flex*/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header, #menu, #container {
    display: flex;
}

header {
    align-items: center;
    justify-content: space-between;
    background-color: var(--standard);
}

#menu {
    width: 400px;
    margin: 5px;
}

#menu a {
    background-color: var(--secondary);
    border-radius: 5px;
    text-align: center;

    font-family: var(--light-text-font);
    font-weight: var(--light-text-weight);
    color: var(--standard);

    width: 33.3333%;
    padding: 10px;
    margin: 5px;

    transition: 0.15s;
}

#menu a:hover {
    background-color: var(--secondary-light);
}

h2 {
    padding: 20px;
    font-family: var(--light-text-font);
    font-weight: var(--light-text-weight);
}

#container {
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contentbox {
    box-shadow: 0px 2px 4px 2px rgba(179, 179, 179, 0.699);
    border-radius: 20px;
    height: 435px;
    width: 260px;
    padding: 15PX;
    margin-bottom: 20px;
}

.img {
    margin-bottom: 10px;
}

.img img{
    width: 100%;
}

.descricao {
    width: 100%;
    margin-bottom: 10px;
    height: 130px;
    overflow-y: auto;
}

.descricao h3, .valor h3, button {
    font-family: var(--light-text-font);
    padding: 5px;
    text-align: center;
}

.descricao h3 {
    background-color: var(--terciary);
    margin-bottom: 10px;
}

.descricao p {
    font-family: var(--light-text-font);
    font-weight: var(--light-text-weight);
    text-align: justify;
}

.valor {
    width: 100%;
}

.valor h3 {
    background-color: var(--quartenary);
}

.valor p {
    margin: 10px auto;
    font-family: var(--light-text-font);
    font-weight: var(--light-text-weight);
    text-align: center;
}

.contentbox button {
    padding: 15px;
    background-color: var(--secondary);
    font-size: 1rem;
    font-weight: var(--light-text-weight);
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}

.contentbox button:hover {
    background-color: var(--secondary-light);
}

#chatbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    height: 60px;
    width: 60px;
    background-color: #e01a4f;
    transition: 0.30s;
}

#chatbox:hover {
    padding-left: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 320px;
    cursor: pointer;
}

#chatbox p {
    color: var(--back-color);
    font-family: var(--light-text-font);
    font-weight: var(--light-text-weight);
    display: none;
    text-align: center;
}

#chatbox:hover p {
    display: flex;
}

#chatbox i {
    font-size: 1.5rem;
    color: var(--back-color);
}

@media screen and (max-width: 599px) {
    
    header {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #menu {
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        width: 95%;
        flex-direction: column;
    }

    #menu a {
        width: 100%;
    }

}