* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;

}

*::selection {

    background-color: rgb(58, 58, 58);
    color: white;

}

body {

    background-color: #1c1c1c;

}

#link-container {

    float: right;
    margin-top: -65px;
    margin-right: 17px;
}

#link-container a {

    padding: 9px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(77, 76, 76);
    border-radius: 2px;

}

table {

    margin:auto;
    table-layout: fixed;
    border-collapse: collapse;
    width: 900px;
    background-color: white;

}

h1 {

    color: white;
    font-size: 2rem;
    font-weight: 460;
    margin: 30px 40px 50px;

}

th {

    font-weight: 560;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgb(43, 43, 43);
    text-shadow: rgb(80, 79, 79) 0.1em 0.1em 0.2em

}

tr:hover {

    background-color: rgb(63, 63, 63);
    color: white;

}

td {

    border-bottom: 1px solid rgb(161, 161, 161);
    height: 65px;
    padding: 5px;
    text-align: center;

}

button {

    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;

}

button:hover {

    background-color: rgb(82, 82, 82);

}

.alterar {

    background-image: url(../img/iconeBotoes/Alterar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    background-color: transparent;
    padding: 20px;

}

.excluir {

    background-image: url(../img/iconeBotoes/Excluir.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
    padding: 20px;

}
