* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

body {

    background-color: #1c1c1c;

}

#menu-container {

    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 20px auto;

}

.row {

    display: flex;
    flex-direction: row;
    margin: auto;

}

.row img {

    margin: auto;
    width: 50%;

}

.opcao {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33333%;
    height: 250px;
    margin: 20px;
    background-color: white;
    color: rgb(39, 39, 39);
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.opcao:hover {

    background-color: #ccc;
    cursor: pointer;

}

@media screen and (max-width: 900px) {
    
    #menu-container {

        width: 100%;

    }

}

@media screen and (max-width: 580px) {
    
    header {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

    }

    header img {

        margin-bottom: 20px;

    }

    h2 {

        font-size: 15px;

    }

    #menu-container {

        flex-direction: row;

    }
    
    .row {

        width: 50%;
        display: flex;
        flex-direction: column;

    }

    .opcao {

        margin: 20px auto;
        width: 80%;

    }

}

@media screen and (max-width: 420px) {
    
    #menu-container {

        margin-top: 20px;

    }

    .opcao {

        height: 150px;
        margin: 10px auto;

    }

}

