* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

body {

    background-color: #1C1C1C;

}

#main-container {

    display: flex;
    flex-direction: column;


}

.content {

    margin: 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 480px;    
    height: 580px;
    border-radius: 5px;

}

.content h1 {

    margin: 20px auto 35px;

}

.content h2 {

    margin-top: 20px;
    margin-bottom: 15px;
    font-family: sans-serif;

}

.content img {

    margin: -25px auto;
    width: 300px;
    height: 300px;

}

.doublebox {

    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;

}

.doublebox img {

    width: 40px;
    height: 40px;
    margin: 5px;

}

.doublebox a {

    text-decoration: none;
    margin: auto;

}

.linkbox {

    border: 2px solid #CCC;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

}

.linkbox p {

    margin: auto;
    text-align: center;
    color: black;

}

.linkbox:hover {

    background-color: #ccc;

}

span {

    color: rgb(73, 73, 73);

}

@media screen and (max-width: 600px) {

    .content {

        margin-top: 70px;
        width: 80%;
        padding: 5px;

    }

    .content img {

        width: 70%;
        height: auto;

    }

    .doublebox {

        margin: 25px auto;

    }

    .linkbox img {

        width: 35px;


    }

    .linkbox {

        margin: auto;
        width: 135px

    }
    
}

@media screen and (max-width: 340px) {

    .content {

        width: 90%;


    }

    .doublebox {

        display: flex;
        flex-direction: column;
        margin: 25px auto;

    }

    .linkbox {

        margin-top: 10px;

    }
}