<div id="container">
    <header>
        <a routerLink="/">
            <img src="/assets/img/logo/unip-resort-logo.png" alt="logo unip resort" width="200" height="100">
        </a>
    </header>

    <div id="form-container">
        <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" class="form_standard">

            <h2>Faça o login para acessar a área de funcionário </h2>

            <div class="fullbox">
                <label for="email">Email</label>
                <input formControlName="email" type="email" name="email" placeholder="Digite seu email">
            </div>

            <div class="fullbox">
                <label for="senha">Senha</label>
                <input formControlName="senha" type="password" name="senha" placeholder="Digite sua senha">    
            </div>

            <button>Entrar</button>

            <p>Em caso de erros, ou problemas, contate o administrador do sistema.</p>

        </form>
    </div>
</div>