<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/conclusao-reserva.css">
    <title>Document</title>
</head>

<body>

    <header>

        <a href="index.html">
            <img src="../../public/img/UNIP_LOGO_PNG.png" alt="" width="200">
        </a>
    </header>

    <div id="main-container">

        <div class="content">

            <h1>Tudo certo!</h1>

            <img src="../../public/img/IconesFuncionario/CheckIN.png" alt="">

            <h2>O seu ticket de Check In é: <span>A4G4FH2</span></h2>

            <p>Esse ticket também estará disponível na sua caixa de email em breve.</p>

            <div class="doublebox">

                <a href="">
                    <div class="linkbox">

                        <img src="../../public/img/icones/impressora.png" alt="">
                        <p>Imprimir</p>

                    </div>
                </a>

                <a href="">
                    <div class="linkbox">

                        <img src="../../public/img/icones/download.png" alt="">
                        <p>Baixar</p>

                    </div>
                </a>

            </div>

            <a href="areaCliente.html">
                <p>Voltar à área do cliente.</p>
            </a>
        </div>

    </div>

</body>

</html>