<header>
    <a (click)="back()">
        <img src="/assets/img/logo/unip-resort-logo.png" width="200" height="100">
    </a>

    <p (click)="back()" onselectstart="return false">Voltar à página anterior.</p>
</header>
<div id="container">

    <h1>Ajuda</h1>

    <p>Olá, usuário! Bem vindo a página de ajuda. </p>
    <p>Aqui você encontrará as respostas para suas dúvidas.</p>

    <h2>Perguntas e respostas</h2>

    <ol>
        <li>Como faço uma reserva?</li>

        <ul>
            <li>Para fazer uma reserva basta:</li>
            <ol>
                <li>Fazer seu login;</li>
                <li>Acessar a página de reservas;</li>
                <li>Escolher o melhor quarto;</li>
                <li>Aproveitar :)</li>
            </ol>
        </ul>
        <!-- fim de lista -->
        
        <li>Como consigo ajuda?</li>
        <ul>
            <li>Você pode mandar um email para: <b>unipresort@gmail.com</b></li>
        </ul>
        <!-- fim de lista -->

        <li>Como funcionam as reservas?</li>
        <ul>
            <li>A reserva deverá ser feita presencialmente, ou através desta plataforma.</li>
            <li>As reservas feitas tanto na plataforma quanto no hotel deverão ser pagas presencialmente.</li>
            <!--  -->
            <li>As reservas podem ser canceladas a qualquer momento, tendo o seu valor total reembolsado.</li>  
        </ul>
    </ol>

    <!--     
    <div>
        <h3>Não achou o que queria? Mande uma mensagem para o nosso suporte.</h3>
        <hr>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Digite seu email para contato">

        <label for="mensagem">Mensagem</label>
        <textarea name="mensagem" placeholder="Digite aqui sua mensagem"></textarea>

        <button>Enviar Mensagem</button>
    </div> 
    -->

</div>