<div id="container">
  <header>
    <a routerLink="/">
      <img
        src="/assets/img/logo/unip-resort-logo.png"
        width="200px"
        height="100"
      />
    </a>

    <div class="back-btn" (click)="back()">
        <fa-icon [icon]="faArrow"></fa-icon>
        Voltar à tela anterior
      </div>
  </header>

  <div class="termos-container">
    <h2>Termos de uso e política de privacidade</h2>

    <p>
      Este presente termo trata do que diz respeito aos <b>termos de uso</b> e
      <b>política de privacidade</b> do hotel Unip Resort.
    </p>

    <p>
      Ao concordar com os itens presentes neste termo, o usuário garante ao
      hotel imunidade contra quaisquer eventuais processos relacionados aos que
      foram descritos neste documento.
    </p>

    <div class="termos-section">
      <h3>1. Tratamento de dados pessoais:</h3>
      <ol type="A">
        <li>
          Os dados pessoais coletados através do cadastro serão usados apenas e
          <b>somente</b> para identificação do usuário no sistema, bem como para
          sua identificação no estabelecimento físico.
        </li>

        <li>Os dados só serão fornecidos para os seguintes terceiros:</li>
        <ol type="I">
          <li>Os donos dos dados (clientes), quando:</li>
          <ol type="a">
            <li>Houver requisição por parte do cliente;</li>
            <li>
              Caso haja necessidade de correção, em caso de inconsistências com
              os dados presentes na base do governo.
            </li>
          </ol>
          <!--  -->
          <li>Autoridades competentes, quando:</li>
          <ol type="a">
            <li>
              Forem infringidas quaisquer leis presentes no código penal, dentro
              da plataforma ou no estabelecimento físico (hotel).
            </li>
          </ol>
        </ol>
      </ol>
    </div>

    <div class="termos-section">
      <h3>2. Política de privacidade</h3>

      <ol type="A">
        <li>
          As ações do usuário na plataforma não serão rastreadas ou armazenadas
          em cookies.
        </li>

        <li>
          Os dados do usuário só poderão ser vistos por ele mesmo, a qualquer
          momento, em sua seção específica no sistema.
        </li>
      </ol>
    </div>

    <small><b>Unip Resort - 2019</b></small>
  </div>
</div>
