<div id="container">
  <div id="form-container">
    <form class="form_standard" [formGroup]="form">
      <h2>Preencha os campos abaixo para realizar o seu cadastro.</h2>

      <div class="fullbox">
        <label for="nome">Nome</label>
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Digite o seu nome completo"
        />
      </div>

      <div class="double-box">
        <div class="halfbox">
          <label for="cpf">CPF/CNPJ</label>
          <input
            type="text"
            name="cpf"
            id="cpf"
            placeholder="Digite seu CPF ou CNPJ"
          />
        </div>

        <div class="halfbox">
          <label for="rg">RG</label>
          <input type="text" name="rg" id="rg" placeholder="Digite seu RG" />
        </div>
      </div>

      <div class="double-box">
        <div class="halfbox">
          <label for="nascimento">Data de nascimento</label>
          <input type="date" name="nascimento" />
        </div>
        <!--  -->
        <div class="halfbox">
          <label for="telefone">Telefone</label>
          <input type="text" name="telefone" placeholder="Digite seu telefone"/>
        </div>
      </div>

      <div class="double-box">
        <div class="halfbox">
          <label for="">CEP</label>
          <input type="text" name="" placeholder="Digite seu CEP" />
        </div>
      </div>

      <div class="fullbox">
        <label for="">Rua</label>
        <input type="text" name="" placeholder="Digite o nome rua"/>
      </div>

      <div class="double-box">
        <div class="halfbox">
          <label for="">Bairro</label>
          <input type="text" name="" placeholder="Digite seu bairro" />
        </div>
        <!--  -->
        <div class="halfbox">
          <label for="">Número</label>
          <input type="text" name="" placeholder="Digite seu número" />
        </div>
      </div>

      <div class="double-box">
        <div class="halfbox">
          <label for="">Cidade</label>
          <input type="text" name="" placeholder="Digite sua cidade" />
        </div>
        <!--  -->
        <div class="halfbox">
          <label for="">Estado</label>
          <input type="text" name="" placeholder="Digite seu estado" />
        </div>
      </div>

      <!-- Fim da div MIDDLE -->

      <div class="fullbox">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite o seu email"
        />
      </div>

      <div class="fullbox">
        <label for="emailConfirm">Confirme seu email</label>
        <input
          type="email"
          name="email"
          id="emailConfirm"
          placeholder="Digite novamente o seu email"
        />
      </div>

      <div class="double-box">
        <div class="halfbox">
          <label for="password">Senha</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Digite a sua senha"
          />
        </div>

        <div class="halfbox">
          <label for="passwordConfirm">Confirme sua senha</label>
          <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            placeholder="Digite novamente a sua senha"
          />
        </div>
      </div>

      <label for="agreement" id="agreement">
        <input type="checkbox" name="agreement" id="checkbox" />
        Eu li e concordo com os <a>Termos de uso.</a>
      </label>

      <button>Cadastrar-se</button>
    </form>
    
  </div>
</div>
