<div class="opcoes-pagamento-container">
  <h2>Selecione uma forma de pagamento</h2>

  <a href="">
    <div class="formaPagamento">
      <div class="img">
        <img src="assets/img/íconesPagamento/cartão.png" alt="">
      </div>

      <div class="nome">
        Cartão de crédito
      </div>
    </div>
  </a>

  <a href="">
    <div class="formaPagamento">
      <div class="img">
        <img src="assets/img/íconesPagamento/Dinheiro.png" alt="">
      </div>

      <div class="nome">
        Dinheiro
      </div>
    </div>
  </a>

  <a href="">
    <div class="formaPagamento">

      <div class="img">
        <img src="assets/img/íconesPagamento/pix.png" alt="">
      </div>

      <div class="nome">
        PIX
      </div>
    </div>
  </a>

  <a href="">
    <div class="formaPagamento">
      <div class="img">
        <img src="assets/img/íconesPagamento/mp.png" alt="">
      </div>

      <div class="nome">
        Mercado Pago
      </div>
    </div>
  </a>
</div>
