<header>
  <img src="assets/img/logo/unip-resort-logo.png" alt="Logo da empresa" width="200" height="100">

  <span class="hamburguer" (click)="revelarMenu()">
    <fa-icon [icon]="faBars"></fa-icon>
  </span>
</header>
<!--  -->
<nav>

  <p class="close-btn" (click)="esconderMenu()">&times;</p>

  <a routerLink="nova-reserva">
    <fa-icon [icon]="faPlus"></fa-icon>
    <p>Nova Reserva</p>
  </a>

  <a routerLink="reservas">
    <fa-icon [icon]="faEdit"></fa-icon>
    <p>Administrar Reservas</p>
  </a>

  <!-- <a routerLink="chamados">
    <fa-icon [icon]="faPhone"></fa-icon>
    <p>Chamados</p>
  </a> -->

  <a routerLink="checkInList">
    <fa-icon [icon]="faTicket"></fa-icon>
    <p>Check In & Check Out</p>
  </a>

  <!-- <a routerLink="checkOutList">
    <fa-icon [icon]="faCheckOut"></fa-icon>
    <p></p>
  </a> -->

  <a routerLink="cadastrar-cliente">
    <fa-icon [icon]="faUserPlus"></fa-icon>
    Cadastrar Cliente
  </a>

  <a routerLink="administrar-clientes">
    <fa-icon [icon]="faUserEdit"></fa-icon>
    Editar cliente
  </a>

  <a (click)="exit()">
    <fa-icon [icon]="faDoorOpen"></fa-icon>
    Sair
  </a>
</nav>
<!--  -->
<router-outlet></router-outlet>
