<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styleChatPage.css">
    <title>Chat</title>
</head>

<body>

    <header>

        <img src="../../public/img/UNIP_LOGO_PNG.png" alt="" width="220">

    </header>

    <div id="chat-container">

        <div id="chat-head">

            <img src="../../public/img/IconesFuncionario/Cliente.png" alt="" draggable="false">
            <p>Dagoberto Miranda</p>
        </div>

        <div id="chat-body">

            <div id="chat-body-messages">

                <div class="message-received">
                    <p>

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veritatis
                        quos earum dignissimos rerum libero molestias repellat atque, cupiditate, animi deserunt
                        provident, saepe rem! Deleniti autem adipisci quaerat dolorum animi.

                    </p>
                </div>

                <div class="message-send">

                    <p>
                        Olá, Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veritatis
                        quos earum dignissimos rerum libero molestias repellat atque, cupiditate,

                    </p>

                </div>

                <div class="message-received">
                    <p>

                        animi deserunt
                        provident, saepe rem! Deleniti autem adipisci quaerat dolorum animi.

                    </p>
                </div>

            </div>


            <div id="textfield">

                <textarea name="message" id="message" placeholder="Digite a sua mensagem aqui."></textarea>
                <button></button>

            </div>

        </div>


    </div>

</body>

</html>