<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylePaymentPage.css">
    <title>Pagamento</title>
</head>

<body>

    <header>
        <img src="../../public/img/UNIP_LOGO_PNG.png" alt="" width="220">

        <a href="">
            <p>Voltar à tela anterior</p>
        </a>
    </header>

    <div id="main-container">

        <h1>Selecione a forma de pagamento</h1>

        <a href="">
            <div class="formaPagamento">

                <div class="imagem">
                    <img src="../../public/img/íconesPagamento/dinheiro.png" alt="">
                </div>

                <div class="nome">

                    <h2>Dinheiro</h2>

                </div>

            </div>
        </a>

        <a href="">
            <div class="formaPagamento">

                <div class="imagem">
                    <img src="../../public/img/íconesPagamento/cartão.png" alt="">
                </div>

                <div class="nome">

                    <h2>Cartão de crédito</h2>

                </div>

            </div>
        </a>

        <a href="">
            <div class="formaPagamento">

                <div class="imagem">
                    <img src="../../public/img/íconesPagamento/pix.png" alt="">
                </div>

                <div class="nome">

                    <h2>PIX</h2>

                </div>

            </div>
        </a>

        <a href="">
            <div class="formaPagamento">

                <div class="imagem">
                    <img src="../../public/img/íconesPagamento/mp.png" alt="">
                </div>

                <div class="nome">

                    <h2>Mercado Pago</h2>

                </div>

            </div>
        </a>

    </div>

</body>

</html>