h2 {
  padding: 20px;
  font-weight: var(--light-text-weight);
}

#container {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.quarto {
  box-shadow: 0px 2px 4px 2px rgba(179, 179, 179, 0.699);
  border-radius: 20px;
  height: 445px;
  width: 260px;
  padding: 15px;
  margin: 10px 10px 10px 10px;
}

.img {
  margin-bottom: 10px;
}

.img img {
  width: 100%;
  height: 130px;
}

.descricao {
  width: 100%;
  margin-bottom: 10px;
  height: 130px;
  overflow-y: auto;
}

.descricao h3,
.valor h3,
button {
  padding: 5px;
  text-align: center;
}

.descricao h3 {
  background-color: var(--blue);
  margin-bottom: 10px;
  border-radius: 5px;
}

.descricao p {
  font-weight: var(--light-text-weight);
  text-align: justify;
}

.valor {
  width: 100%;
}

.valor h3 {
  background-color: var(--pink);
  border-radius: 5px;
}

.valor p {
  margin: 10px auto;
  font-weight: var(--light-text-weight);
  text-align: center;
}

.quarto button {
  padding: 15px;
  background-color: var(--golden);
  font-size: 1rem;
  font-weight: var(--light-text-weight);
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.contentbox button:hover {
  background-color: var(--golden-light);
}

#help {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  height: 60px;
  width: 60px;
  background-color: #e01a4f;
  transition: 0.3s;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.623);
}

#help:hover {
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 320px;
  cursor: pointer;
}

#help p {
  display: none;
  color: transparent;
  font-weight: var(--light-text-weight);
  text-align: center;
}

#help:hover p {
  display: flex;
  color: var(--white);
  transition: 1.5s;
}

#help fa-icon {
  font-size: 1.5rem;
  color: var(--white);
}
