<div id="table-container">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Data Nasc.</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.cpf | cpf}}</td>
                <td>{{ cliente.rg | rg}}</td>
                <td>{{ cliente.dataNasc }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <fa-icon (click)="configurateForm(cliente.id)" class="btn-action" [icon]="faEdit"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <tfoot>

    </tfoot>
</div>        
<div class="caption-container">
    <h4>Legendas</h4>
    <p><fa-icon [icon]="faEdit"></fa-icon> - Ver e editar </p>   
    <p><fa-icon [icon]="faTrash"></fa-icon> - Excluir </p>
</div>

<div class="modal-container">
    <div class="modal-body">
      <span (click)="hideModal()" class="modal-close-button">&times;</span>
    </div>
</div>  