#table-container {
    width: 100%;
    overflow: auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #e01a4f;
    padding: 15px;
    color: var(--white);
  }
  
  tr:hover {
    background-color: var(--blue-light);
  }
  
  td {
    justify-content: center;
    padding: 15px;
    font-weight: var(--light-text-weight);
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
    text-align: center;
  }
  
  td+td+td+td+td+td+td {
    font-size: 1.2rem;
  }
  
  td+td+td+td+td+td+td .fa {
    padding: 5px;
  }
  
  .fa-edit {
    color: var(--blue);
  }
  
  .fa-trash {
    color: rgb(243, 50, 50);
  }

  .btn-action {
    font-size: 2rem;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .btn-action:nth-child(1) {
    color: rgb(75, 75, 255);
  }
  
  .btn-action:nth-child(2) {
    color: rgb(255, 47, 47);
  }
  
  .caption-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
  }

  .caption-container h4 {
      margin-bottom: 10px;
  }
  
.modal-body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  flex-direction: column;
  background: linear-gradient(#0c090d, #2c242e, #3b2b3f);
  background-repeat: no-repeat;
  padding: 20px;
}

  #form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }

  .double-box {
    flex-direction: column;
    width: 100%;
  }

  .halfbox { 
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

  .modal-close-button {
    color: #fff;
  }

  .modal-close-button:hover {
    transition: 0.15;
    color: rgb(168, 168, 168);
  }

  body,
#form-container,
form,
.fullbox,
.double-box,
.halfbox {
  display: flex;
}

.modal-body {
  width: 800px;
}