<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/area-funcionario.css">
    <title>Document</title>
</head>

<body>

    <header>
        <img src="../../public/img/UNIP_LOGO_PNG.png" alt="Logo" width="200" height="100">
    </header>

    <div id="menu-container">

        <div class="row">

            <div class="opcao" onclick="window.open('./funcFunctions/criarReserva.html')">
                <img src="../../public/img/IconesFuncionario/Criar.png" alt="" draggable="false">
                <h2>Nova Reserva</h2>
            </div>

            <div class="opcao" onclick="window.open('./funcFunctions/alterarExcluir.html')">

                <img src="../../public/img/IconesFuncionario/Alterar.png" alt="" draggable="false">
                <h2>Alterar Reserva</h2>
            </div>

            <div class="opcao" onclick="window.open('./funcFunctions/alterarExcluir.html')">

                <img src="../../public/img/IconesFuncionario/Cancelar.png" alt="" draggable="false">
                <h2>Cancelar Reserva</h2>

            </div>
        </div>

        <div class="row">
            <div class="opcao" onclick="window.open('./funcFunctions/chamados.html')">

                <img src="../../public/img/IconesFuncionario/Chamados.png" alt="" draggable="false">
                <h2>Chamados</h2>
            </div>

            <div class="opcao" onclick="window.open('./funcFunctions/checkIn.html')">

                <img src="../../public/img/IconesFuncionario/CheckIN.png" alt="" draggable="false">
                <h2>Check In</h2>
            </div>

            <div class="opcao" onclick="window.open('./funcFunctions/checkOut.html')">

                <img src="../../public/img/IconesFuncionario/CheckOut.png" alt="" draggable="false">
                <h2>Check Out</h2>
            </div>
        </div>

        <div class="row">

            <div class="opcao" onclick="window.open('cadastro.html')">

                <img src="../../public/img/IconesFuncionario/Cliente.png" alt="" draggable="false">
                <h2>Cadastrar Cliente</h2>
            </div>

            <div class="opcao" onclick="window.open('')">

                <img src="../../public/img/IconesFuncionario/rud.png" alt="" draggable="false">
                <h2>Consultar, Alterar ou Excluir</h2>
            </div>


            <div class="opcao">

                <img src="../../public/img/IconesFuncionario/Sair.png" alt="" draggable="false">
                <h2>Encerrar Sessão</h2>
            </div>
        </div>
    </div>

</body>

</html>
