<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/chamados.css">
    <title>Chamados</title>
</head>

<body>

    <header>

        <a href="../index.html">
            <img src="../../public/img/UNIP_LOGO_PNG.png" alt="" width="200">
        </a>
    </header>

    <div id="main-container">

        <div class="chamadosPendentes">

            <h2>Pedidos de ajuda</h2>

            <div class="chamado">

                <div class="nome">
                    <img src="../../public/img/IconesFuncionario/Cliente.png" alt="">
                    <p>Lodesvaldo Oliveira</p>
                </div>

                <div class="nome">
                    <img src="../../public/img/IconesFuncionario/Cliente.png" alt="">
                    <p>Ivan Delmarin</p>
                </div>

                <div class="nome">
                    <img src="../../public/img/IconesFuncionario/Cliente.png" alt="">
                    <p>El Tchubáco</p>
                </div>

            </div>

            <!--
            <p>Não há chamados pendentes.</p>
            -->
        </div>

        <div class="chamadosPendentes">
            <h2>Requisição de serviços</h2>

            <p>Não há chamados pendentes.</p>
        </div>
        <!---->
        <div class="chamadosAtendidos">
            <h2>Chamados Respondidos</h2>

            <table>

                <thead>

                    <th>#</th>
                    <th>Cliente</th>
                    <th>Categoria</th>
                    <th>Avaliação</th>

                </thead>

                <tr>

                    <td>1</td>
                    <td>Valder Polado</td>
                    <td>Ajuda</td>
                    <td>5 estrelas</td>

                </tr>

                <tr>

                    <td>2</td>
                    <td>Inguiosvaldo Alencar</td>
                    <td>Serviço de quarto</td>
                    <td>4 estrelas</td>

                </tr>

            </table>
        </div>

    </div>

</body>

</html>