<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/check-in-out.css">
    <title>CheckOut</title>
</head>

<body>

    <header>
        <img src="../../public/img/UNIP_LOGO_PNG.png" alt="Logo" width="180" height="90">
    </header>

    <div class="block">

        <h2>Check-Outs Pendentes</h2>

        <table>
            <thead>
                <th>#</th>
                <th>Cliente</th>
                <th>Ticket de CheckIn</th>
                <th>Horário de CheckIn</th>
                <th>Ações</th>
            </thead>

            <tr>
                <td>1</td>
                <td>Edimundo</td>
                <td>AG42AS1</td>
                <td>----------</td>
                <td><button>Validar Check-In</button></td>
            </tr>

            <tr>
                <td>2</td>
                <td>Edivânio</td>
                <td>AH4C3G1</td>
                <td>----------</td>
                <td><button>Validar Check-In</button></td>
            </tr>

            <tr>
                <td>3</td>
                <td>Edinardo</td>
                <td>AP04DLF</td>
                <td>----------</td>
                <td><button>Validar Check-In</button></td>
            </tr>

        </table>

    </div>

    <div class="block-2">

        <h2>Check-Outs Realizados | Não Realizados</h2>

        <table>
            <thead>
                <th>#</th>
                <th>Cliente</th>
                <th>Ticket de CheckIn</th>
                <th>Horário de CheckIn</th>
                <th>Status</th>
            </thead>

            <tr>
                <td>1</td>
                <td>Edimundo</td>
                <td>AG42AS1</td>
                <td>11:00</td>
                <td style="color: rgb(119, 196, 4); font-weight: bold;">Realizado</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Edivânio</td>
                <td>AH4C3G1</td>
                <td>13:05</td>
                <td style="color: rgb(119, 196, 4); font-weight: bold;">Realizado</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Edinardo</td>
                <td>AP04DLF</td>
                <td>----------</td>
                <td style="color: rgb(255, 70, 70); font-weight: bold;">Não realizado</td>
            </tr>

        </table>

    </div>

</body>

</html>