<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styleCriarReservaPage.css">
    <title>Fazer reserva</title>
</head>

<body>

    <header>

        <div>
            <img src="../../public/img/UNIP_LOGO_PNG.png" alt="Logo" width="210" height="110">
        </div>

    </header>

    <!--Menu-->

    <div class="container">

        <div id="checkSemCadastro">
            <h2>Não possui cadastro</h2>
        </div>
        <div id="check">
            <h2>Já possui cadastro.</h2>
        </div>

    </div>

    <!----------------------------------------------------------->

    <!-- DIV CHECK -->

    <div id="main-container">

        <h1>Detalhes da reserva</h1>

        <div class="content">

            <div class="img-container">
                <img src="../../public/img/quartohotel.jpg" alt="Quarto do hotel" width="320" height="200">
            </div>

            <div class="contentbox">

                <h3>Suíte master</h3>

                <p> Cama de casal, Smart Tv 44", acesso liberado à internet, áreas de lazer e banheiras
                    climatizadas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio autem
                    natus
                    similique nostrum. Asperiores sit, atque voluptatum quo dolor necessitatibus, fugit ipsa natus
                    tempora quaerat animi, libero obcaecati iste.
                </p>

            </div>

        </div>

        <div id="form-container">

            <form action="">

                <label for="CPF">CPF do Cliente</label>
                <input type="text" name="CPF" id="cpfCliente">

                <label for="apartamento">Selecione a categoria do quarto: </label>
                <select name="apartamento" id="apartamento-selectbox">

                    <option value="Suíte Master">Suíte Master</option>
                    <option value="Suíte VIP">Suíte VIP</option>
                    <option value="Suíte de temporada">Suíte de temporada</option>

                </select>

                <label for="numeroHospedes">Quantidade de hóspedes: </label>
                <input type="number" name="numeroHospedes" id="numeroHospedes" minlength="1" maxlength="6"
                    placeholder="1" value="1">

                <label for="checkIn">Data de check-in</label>
                <input type="date" name="checkIn" id="checkIn">

                <label for="checkOut">Data de check-out</label>
                <input type="date" name="checkOut" id="checkOut">

                <label for="cupom">Cupom de desconto</label>
                <input type="text" name="cupom" id="cupom" placeholder="Digite o código do cupom">

                <label for="valorTotal">Valor Total: </label>
                <input type="text" placeholder="R$" disabled>

                <button onclick="window.open('criaReservaPagamento.html')">Pagamento</button>

            </form>

        </div>

    </div>

    <!--FIM DIV CHECK-->

    <script>

        var form = document.getElementById('main-container');
        var check = document.getElementById('check');
        var check2 = document.getElementById('checkSemCadastro')

        form.style.display = "none";

        check.addEventListener('click', () => {

            form.style.cssText = "display: flex; flex-direction: column"
            check.style.backgroundColor = "#CCC"
            check2.style.backgroundColor = "white"

        })

        check2.addEventListener('click', () => {

            form.style.cssText = "display: none"
            check2.style.backgroundColor = "#CCC"
            check.style.backgroundColor = "white"

        })

    </script>

</body>

</html>
