<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/pagamento.css">
    <link rel="stylesheet" href="../../public/fontawesome-free-5.15.3-web/css/all.css">
    <title>Pagamento</title>
</head>

<body>

    <header>
        <img src="../../public/img/UNIP_LOGO_PNG.png" alt="" width="220">

        <a href="">
            <i class="fas fa-arrow-left"></i>
            <p>Voltar</p>
        </a>
    </header>

    <div id="main-container">

        <h2>Selecione a forma de pagamento</h2>

        <a href="">
            <div class="formaPagamento">

                <div class="img">
                    <img src="../../public/img/íconesPagamento/dinheiro.png" alt="">
                </div>

                <div class="nome">
                    Dinheiro
                </div>

            </div>
        </a>

        <a href="">
            <div class="formaPagamento">

                <div class="img">
                    <img src="../../public/img/íconesPagamento/cartão.png" alt="">
                </div>

                <div class="nome">
                    Cartão de crédito
                </div>

            </div>
        </a>

        <a href="">
            <div class="formaPagamento">

                <div class="img">
                    <img src="../../public/img/íconesPagamento/pix.png" alt="">
                </div>

                <div class="nome">
                    PIX
                </div>

            </div>
        </a>

        <a href="">
            <div class="formaPagamento">

                <div class="img">
                    <img src="../../public/img/íconesPagamento/mp.png" alt="">
                </div>

                <div class="nome">
                    Mercado Pago
                </div>

            </div>
        </a>

    </div>

</body>

</html>
