<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/editar-reserva.css">
    <title>Document</title>
</head>

<body>

    <header>

        <div id="img-container">
            <a href="index.html">
                <img src="../../public/img/UNIP_LOGO_PNG.png" width="200px" height="100">
            </a>
        </div>

    </header>

    <div class="searchBox">
        <h2>Pesquisar reserva</h2>
        <div class="searchBar">
            <input type="search" placeholder="Digite o número da reserva">
            <button type="submit"></button>
        </div>
    </div>

    <div class="resultado">

        <h3>Dados Cliente</h3>
        <p><span>Nome cliente:</span> Dagoberto Miraldo de Souza</p>
        <p><span>CPF Cliente:</span> XXX.451.456-XX</p>
        <p><span>Email:</span> dagobertomiraldin@gmail.com</p>

        <h3>Dados Reserva</h3>

        <div class="form">

            <label for="apartamento">Selecione a categoria do quarto: </label>
            <select name="apartamento" id="apartamento-selectbox">

                <option value="Suíte Master">Suíte Master</option>
                <option value="Suíte VIP">Suíte VIP</option>
                <option value="Suíte de temporada">Suíte de temporada</option>

            </select>

            <label for="numeroHospedes">Quantidade de hóspedes: </label>
            <input type="number" name="numeroHospedes" id="numeroHospedes" minlength="1" maxlength="6" placeholder="1"
                value="1">

            <label for="checkIn">Data de check-in</label>
            <input type="date" name="checkIn" id="checkIn">

            <label for="checkOut">Data de check-out</label>
            <input type="date" name="checkOut" id="checkOut">

            <label for="cupom">Cupom de desconto</label>
            <input type="text" name="cupom" id="cupom" placeholder="Digite o código do cupom">

            <label for="valorTotal">Valor Total: </label>
            <input type="text" placeholder="R$" disabled>

            <div class="button-container">

                <button id="cometerAlteracao"> Salvar Alterações</button>
                <button id="cancelarReserva">Cancelar Reserva</button>

            </div>

        </div>


        <!--
        <p><span>Categoria de quarto:</span> Suíte Master</p>
        <p><span>Data de CheckIn:</span> 24/05/2021</p>
        <p><span>Data de CheckOut:</span> 28/05/2021</p>
        <p><span>Quantidade de hóspedes:</span> 4</p>
        <p><span>Valor:</span>R$450,00</p>
-->
    </div>

</body>

</html>
